@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: rgb(226, 226, 226);
}
nav{
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 90px;
  /* width: 280px; */
  background: #fff;
  overflow: hidden;
  transition: 1s;
}
nav:hover{
  width: 280px;
  transition: 1s;
}
.logo{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
  padding-bottom: 3rem;
}

.logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  position: relative;
  width: 280px;
  font-size: 14px;
  color: rgb(85, 83, 83);
  display: table;
  padding: 10px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 20px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover{
  background: #eee;
}
a:hover i{
  color: #34AF6D;
  transition: 0.5s;
}
.logout{
  position: absolute;
  bottom: 0;
}

.container{
  display: flex;
}
   
   
   
   
   /* MAin Section */
   .indexmain{
    position: relative;
    padding: 20px;
    width: 100%;
    }
    .main-top{
    display: flex;
    width: 100%;
    }

    .section--title{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      color: var(--text-color-second);
  }
  
  select{
      border: none;
      outline: none;
      padding: 5px 10px;
      background-color: transparent;
      font-weight: 500;
      font-size: 1rem;
      color: var(--text-color-second);
  }
/* target vs sales */

.target-vs-sales--container{
  width: auto;
  background: var(--bg-color-first);
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 15px;
}

.sales--value{
  display: flex;
  align-items: center;
  gap: 20px;
}

.target , .current{
  display: flex;
  align-items: center;
  font-size: .9rem;
}

.target .circle{
  margin-right: 5px;
  color: #3bc59a;
}
.current .circle{
  margin-right: 5px;
  color: var(--bg-color-fifth);
}

.target--vs--sales{
  width: auto;
 
}

.target--vs--sales canvas{
  max-height: 200px;
}  
  

/*Attendance List serction  */
.attendance{
margin-top: 20px;
text-transform: capitalize;
gap: 20PX;
}
.attendance-list{
width: 100%;
padding: 10px;
margin-top: 10px;
background: #fff;

box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.table{
border-collapse: collapse;
margin: 25px 0;
font-size: 15px;
min-width: 100%;
overflow: hidden;
border-radius: 5px 5px 0 0;
}
table thead tr{
color: #fff;
background: #34AF6D;
text-align: left;
font-weight: bold;
}
.table th,
.table td{
padding: 12px 15px;
}
.table tbody tr{
border-bottom: 1px solid #ddd;
}
.table tbody tr:nth-of-type(odd){
background: #f3f3f3;
}
.table tbody tr.active{
font-weight: bold;
color: #4AD489;
}
.table tbody tr:last-of-type{
border-bottom: 2px solid #4AD489;
}
.table button{
padding: 6px 20px;
border-radius: 10px;
cursor: pointer;
background: transparent;
border: 1px solid #4AD489;
}
.table button:hover{
background: #4AD489;
color: #fff;
transition: 0.5rem;
}







.history_lists{
	display: flex;
	align-items: center;
	justify-content: space-between;
  width: 100%;
  }

  table{
	background: #fff;
	padding: 1rem;
	text-align: left;
	border-radius: 10px;
	width:100%
 }
  table td, th{
	padding: 0.2rem 0.8rem;
  }
  table th{
	font-size: 15px;
  }
  table td{
	font-size: 13px;
	color: rgb(100, 100, 100);
  }

  .card {
  width: 280px;
  height: 280px;
  background: rgb(0, 0, 0);
  border-radius: 32px;
  padding: 3px;
  position: relative;
  box-shadow: #604b4a30 0px 70px 30px -50px;
  transition: all 0.5s ease-in-out;
}

.card .mail {
  position: absolute;
  right: 2rem;
  top: 1.4rem;
  background: transparent;
  border: none;
}

.card .mail svg {
  stroke: #fbb9b6;
  stroke-width: 3px;
}

.card .mail svg:hover {
  stroke: #f55d56;
}

.card .profile-pic {
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  top: 3px;
  left: 3px;
  border-radius: 29px;
  z-index: 1;
  border: 0px solid #fbb9b6;
  overflow: hidden;
  transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.card .profile-pic img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transition: all 0.5s ease-in-out 0s;
}

.card .profile-pic svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transform-origin: 45% 20%;
  transition: all 0.5s ease-in-out 0s;
}

.card .bottom {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background: #fbb9b6;
  top: 80%;
  border-radius: 29px;
  z-index: 2;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.card .bottom .content {
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  height: 160px;
}

.card .bottom .content .name {
  display: block;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

.card .bottom .content .about-me {
  display: block;
  font-size: 0.9rem;
  color: white;
  margin-top: 1rem;
}

.card .bottom .bottom-bottom {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .bottom .bottom-bottom .social-links-container {
  display: flex;
  gap: 1rem;
}

.card .bottom .bottom-bottom .social-links-container svg {
  height: 20px;
  fill: white;
  filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
}

.card .bottom .bottom-bottom .social-links-container svg:hover {
  fill: #f55d56;
  transform: scale(1.2);
}

.card .bottom .bottom-bottom .button {
  background: white;
  color: #fbb9b6;
  border: none;
  border-radius: 20px;
  font-size: 0.6rem;
  padding: 0.4rem 0.6rem;
  box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
}

.card .bottom .bottom-bottom .button:hover {
  background: #f55d56;
  color: white;
}

.card:hover {
  border-top-left-radius: 55px;
}

.card:hover .bottom {
  top: 20%;
  border-radius: 80px 29px 29px 29px;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.card:hover .profile-pic {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 3;
  border: 7px solid #fbb9b6;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
  transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
}

.card:hover .profile-pic:hover {
  transform: scale(1.3);
  border-radius: 0px;
}

.card:hover .profile-pic img {
  transform: scale(2.5);
  -o-object-position: 0px 25px;
  object-position: 0px 25px;
  transition: all 0.5s ease-in-out 0.5s;
}

.card:hover .profile-pic svg {
  transform: scale(2.5);
  transition: all 0.5s ease-in-out 0.5s;
}


table caption {
  caption-side: top;
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px;
}

#salesChart2{
  width: 300px;
  height: 200px;
  background-color: #ffffff;
}




            .first {
              display: flex;
              justify-content: space-between;
              background-color: white;
            }

            .row {
              display: flex;
              flex-direction: row;
            }

            .column {
              flex: 1;
              background-color: rgb(134, 134, 134);
            }

            .sales-chart-container {

              padding: 10px; /* Optional: Add padding for spacing */
            }

            .promo_card{
              width: 100%;
              color: #ce8383;
              margin-top: 10px;
          
              padding: 0.5rem 1rem 1rem 3rem;
              }

              


.promo_card {
display: grid;
 column-gap: 20PX;
  grid-template-columns: repeat(3, auto); /* Three rows with auto height */
}

.row {
  display: flex;
}

.item {
  flex: 1;
  background-color: #FAB99A;
  padding: px;
}


.column{
  width: 25%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.top-products {
  margin-top: 20px;
}

.product-filter {
  margin-bottom: 20px;
}

.product-filter label {
  margin-right: 10px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
}

.product img {
  max-width: 100%;
  height: auto;
}

.product-details h3 {
  margin-top: 0;
}

.product-details p {
  margin: 5px 0;
}

